<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-padding">
            <ion-text color="dark">{{name}} {{surname | slice:0:1 | uppercase}}.</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-button class="fav-button" fill="clear" aria-label="Favorite" (click)="onFavClick($event)">
              <ion-icon *ngIf="isFav" slot="icon-only" color="danger" name="heart" aria-hidden="true"></ion-icon>
              <ion-icon *ngIf="!isFav" slot="icon-only" color="medium" name="heart-outline" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="clear" aria-label="Delete" (click)="onDeleteClick()">
              <ion-icon name="trash" color="danger" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input label="Nombre" type="text" placeholder="Nombre" labelPlacement="floating" [value]="name" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellidos" type="text" placeholder="Apellidos" labelPlacement="floating" [value]="surname" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Edad" type="text" placeholder="Edad" labelPlacement="floating" [value]="age + ' años'" readonly></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
